{% extends 'base.html' %}

{% block title %} {{post.post_title}} {% endblock %}
   
{% block content %}
    <h1>{{post.post_title}}</h1>

    <p>{{post.post_text}}</p>
    <p><i>By {{post.author.full_name}} on {{post.friendly_date}}</i></p>

    <form>
        <button class="btn btn-outline-primary btn-sm" formaction="/users/{{post.author.id}}" formmethod="GET">Cancel</button>
        <button class="btn btn-primary btn-sm" formaction="/posts/{{post.id}}/edit" formmethod="GET">Edit</button>
        <button class="btn btn-danger btn-sm" formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>
    </form>


  
{% endblock %}

